.title {
	background-color: white;
	padding: 20px;
	font-family: fantasy;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 900;
	font-style: normal;
	font-size: 36px;
	text-decoration: none;
	letter-spacing: 0.0555556em;
	float: left;
}

img {
	position: relative; 
	height: 300px;
	width: auto;
}

.data{
	padding: 50px;
}

.options {
	background-color: white;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 20px;
	font-family: fantasy;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.0555556em;
	float: left;
}

.hbar {
	background-color: white;
	padding-top: 45px;
	padding-bottom: 38px;
}

.tiles {
	display: flex;
	background-color: black;
	margin: 20px;
	float: left;
	padding: 2px
}

.text{
	display: none;
    position:absolute;
    top:0px;
}