img {
	position: relative; 
	height: 400px;
	width: auto;
}

#topbar
{
	background-color: black;
	height: 80px;
	width: 100vw;
	padding: 0 10px;
	width: 100vw;
	z-index: 2;
}

@font-face{
	font-family: Bluefish Black Demo;
	src: url('Bluefish_Black_Demo.otf');
	font-family: Maniac;
	src: url('Maniac.ttf');
	font-family: Montserrat;
	src: url('Montserrat-Light.otf');
	
}
.maintitle {
	background-color: black;
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: 1300;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 0.0555556em;
}

.maintitle a{
	color: white;
}


.data{
	padding: 10px 30px;
}

body {
	background-color: white;
}

.options {
	font-family: Montserrat;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0.0555556em;
	text-align: center;
}

#topbar ul
{
	display: flex;
}

#topbar ul li
{
	list-style: none;
}

#topbar ul li a
{
	display: block;
	line-height: 80px;
	text-decoration: none;
	padding: 0 20px;
}

.title {
	background-color: black;
	padding: 20px;
	font-family: fantasy;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 900;
	font-style: normal;
	font-size: 36px;
	text-decoration: none;
	letter-spacing: 0.0555556em;
	float: left;
	color: white;
}

.whitetiles p {
	font-family: Montserrat;
	line-height: 1.2em;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	text-decoration: none;
}

.hbar {
	background-color: black;
	padding-top: 45px;
	padding-bottom: 38px;
}

b {
	font-weight: 900;
}
.tiles {
	display: flex;
	background-color: black;
	margin: 20px;
	float: left;
	padding: 2px;
	position: relative;
	font-family: Montserrat;
}

.whitetiles {
	background-color: white;
  	width: 70%;
  	height: 50%;
  	padding: 30px;
  	margin: 0 auto;
  	text-align: center;
}

.details {
	background-color: white;
  	width: 50%;
  	height: 50%;
  	padding: 30px;
  	margin: 0 auto; 
}

.text {
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.active {
	background-color: white;
	color: black;
}

.inactive {
	background-color: black;
	color: white;
}

.inactive:hover {
	background-color: #a6a6a6;
}

.inactivepage {
	display: none;
}

.invisiblepage {
	opacity: 0;
}

#arrow {
	display: none;
	font-size: 25px;
}

.witharrow
{
	padding-top: 30px;
	padding-bottom: 10px;
	height: 40px;
	line-height: 20px;
}


.stuck {
  position:fixed;
  top:0;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

#about p {
	text-align: left;
	line-height: 1.6;
	font-size: 18px;
	padding-top: 30px;
}

#contact p {
	font-size: 18px;
	padding-top: 30px;
}

#cvinteractive{
	height: 100vh;
	width: 60vw;
	display: inline-block;
	margin: auto;
	border: 3px solid black;
}

.whitetiles ul {
	text-align: left;
	list-style: disc;
	padding-left: 3vw;
	font-size: 18px;
	font-family: Montserrat;
	line-height: 1.8em;
}

.nostyle {
	color: #000369;
	text-decoration: inherit;
}










